
<div class="overview">
    <p class="course-includes">Course Includes</p>
    <table class="table table-borderless">
        <tbody>
            <tr>
                <td class="text-start "> <img src="assets\images\duration.jpg" ></td>
                <td class="text-start main-text">{{couseContent.data.courseIncludes[0]}}</td>

            </tr>

            <tr>
                <td class="text-start "> <img src="assets\images\support.jpg" ></td>
                <td class="text-start main-text">{{couseContent.data.courseIncludes[1]}}</td>

            </tr>
            <tr>

                <td class="text-start "> <img src="assets\images\test.jpg" ></td>
                <td class="text-start main-text">{{couseContent.data.courseIncludes[2]}}</td>

            </tr>
            <tr>

                <td class="text-start "> <img src="assets\images\access.jpg" ></td>
                <td class="text-start main-text">{{couseContent.data.courseIncludes[3]}}</td>

            </tr>
            <tr>

                <td class="text-start "> <img src="assets\images\access1.jpg" ></td>
                <td class="text-start main-text">{{couseContent.data.courseIncludes[4]}}</td>

            </tr>
            <tr>

                <td class="text-start "> <img src="assets\images\certificate.jpg" ></td>
                <td class="text-start main-text">{{couseContent.data.courseIncludes[5]}}</td>

            </tr>

            <!--  (click)="EditORchangePassword('changePassword')" -->

    </table>
    <br>
    <h5 class="course-includes">What you'll learn</h5>
    <div class="homeContent" *ngFor="let data of couseContent.data.learn; index as i">
        <tr>
            <td class="text-started "> <img src="assets\images\points.jpg" style="width: 22px;height: 22px;margin-right: 8px;"></td>
            <td class="text-started main-text">{{data}}</td>

        </tr>
       
    </div>
    <br>
    <h5 class="course-includes">Requirements</h5>
    <div class="homeContent" *ngFor="let data of couseContent.data.requirements; index as i">
        <!-- &#8226;  <span class="normal-text">{{data}}</span> -->
        <tr>
            <td class="dot" style="color: black;font-size: 26px;position: relative;top: 4px;">&#8226;</td>&nbsp;
            <td class="text-started main-text">{{data}}</td>

        </tr>
    </div>
    <br>
    <p class="course-includes">Instructor</p>
    <div class="instructor">
        <img src="{{couseContent.data.instructor[0].profile}}" width="90px" height="90px"alt="">
        <div class="instructor-info">
            <p class="normal-text" style="font-weight: 700;">{{couseContent.data.instructor[0].name}}</p>
            <p class="normal-text" style="font-size: 12px;line-height: 16px;">{{couseContent.data.instructor[0].occupation}}</p>
        </div>
     
    </div>
    <div class="description">
        <p class="normal-text"*ngIf="couseContent.data.instructor[0].description.length<=100">
            {{couseContent.data.instructor[0].description}}
        </p>
        <p class="normal-text"*ngIf="couseContent.data.instructor[0].description.length>100 && !showMore">
            {{couseContent.data.instructor[0].description.substring(0,100)}}...  <span class="show-more"(click)="showMore=true">show more</span>
        </p>
        <p class="normal-text" *ngIf="couseContent.data.instructor[0].description.length>100 && showMore">
            {{couseContent.data.instructor[0].description}}  <span class="show-less"(click)="showMore=false">show less</span>
        </p>
    </div>
    
    <!-- <p class="normal-text">{{couseContent.data.instructor[0].description}}</p> -->
  
</div>
<button class="btn-join" (click)="joinCourse(this.couseContent.data.courseName,this.couseContent.data._id)">Join Course</button>

