
@mixin font-style($family, $style, $weight, $size, $line-height, $color) {
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
    line-height: $line-height;
   
    color: $color;
  }

.course-includes{
    // margin-bottom: 1rem;
    // margin-top: 0.5rem;
    text-align: start;
    margin-bottom: 0.5rem;
    font-family: 'proxima-nova-soft';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 25px;



color: #111111;

    // margin-left: 7px;
}
.overview{

    padding: 4%;
    .text-start{
        img{
            width:25px;
            height:25px;
            margin-right: 8px;
        }
    }
}
p{
    text-align: justify;
}
.text-start {
    border: none;
    padding: 2px;
    font-family: 'proxima-nova-soft';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;



color: #7A7A7A;


}
.text-started,.normal-text{
    border: none;
    padding: 2px;
    font-family: 'proxima-nova-soft';
font-style: normal;
font-weight: 200;
font-size: 16px;
line-height: 30px;
text-align: justify;
word-break: break-all;



color: black;
}
.instructor{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    img{
      
        border-radius: 8px;
    }
    .instructor-info{
        padding-left: 10px;
        p{
            margin-bottom: 2px;
        }
    }
   

}
.description{
    margin-top: 5%;
    .show-more, .show-less{
        @include font-style('Biko-regular', normal, 400, 16px, 20px, #EE5C4D);
        cursor: pointer;
    }
}
.btn-join{
    background: #EC5D52;
    height:38px;
border-radius: 0px;
// width: 111.5%;
// margin-left: -17px;
width: 100%;
    @include font-style('proxima-nova-soft', normal, 700, 16px, 20px, #FFFFFF);
    border: none;
    outline: none;
    letter-spacing: 1px;
}