

    <img src="assets\images\logo.png"style="margin-top:12%">
    <p class="title-text">
      Verify Account
    </p>
    <br>
    <p  class="title-inner-text" style="font-size:15px;">Please fill in the verification code that has been sent to your mobile number.</p>
    <div class="input-grp">
      <input type="text" name="vcode"   [(ngModel)]="otpDigit1" maxlength="1" #txt1 class="input-field" (keyup)="move($event, '', txt1,txt2)">
      <input type="text" name="vcode" [(ngModel)]="otpDigit2" maxlength="1" #txt2 class="input-field" (keyup)="move($event, txt1, txt2,txt3)">
      <input type="text" name="vcode" [(ngModel)]="otpDigit3"maxlength="1" #txt3 class="input-field" (keyup)="move($event, txt2, txt3,txt4)">
      <input type="text" name="vcode" [(ngModel)]="otpDigit4" maxlength="1" #txt4 class="input-field" (keyup)="move($event, txt3, txt4,'')">
    </div>
   <br>
   <p class="noCode">Didn’t recieve a code? <span class="Resend" (click)="triggerParent()">Resend</span> </p>



    <button class="btn-login btn-sm" (click)="triggerParent()"  >Verify</button>
    <!-- <div *ngIf="wrongOtp===true" class="alert alert-danger">
     {{errorMessage}}
    </div> -->
    <div *ngIf="otpVerificationStatus===false" class="error-display" >
      {{errorresponseMessage|titlecase}}

    </div>
