<div class="header">
    <div class="logo-searchbar">
        <img src="assets\images\logo2.png">
        <div class="divvv">
            <div class="input-searchbutton">
                <!-- (blur)="filterunToggle()"  -->
                <input type="text" [ngClass]="{inputfocus:this.toggle}" placeholder="Enter your phone number"(focus)="filterToggle()" [(ngModel)]="searchInfo" (keyup.enter)="onSearchEnter()">
                <button [ngClass]="{buttonfocus:this.toggle}" class="search-button" (click)="onSearchEnter()">
                    <i class="fa fa-search" ></i>
                </button>
                
            </div>
            <!-- [disabled]="filterDialogBox" -->
            <button class="filter-button" (click)="filterDialog()" >
                <img src="/assets/images/filter.png">
            </button>
        </div>
        
       
       
        <div class="right-header-content" *ngIf="!toggle ;else buttonX">
            <button (click)="openDialog('notifications')"><i class='far fa-bell'></i></button>
            <button class="setting-icon" (click)="openDialog('settings')"><img src="/assets/images/setting-icon.png"></button>


           <!-- <div class=""><a routerLink="/login"></a></div> -->


           <div class="dropdown profil-details">
            <button  type="button" (click)="dropdownToggled()"(blur)="removeDropDown()">
                <img src="/assets/images/dhoni.png">
            </button>
            <div *ngIf="dropdownToggle" class="dropdown-menu" >
              <a  routerLink="/myCourse">
                  <div class="content-dropdown">
                    <img src="/assets/images/mycourse.png">
                    <p>My Course</p>
                 </div>
                </a> 
                <hr>
              <a (click)="openDialog('profile')">
                <div class="content-dropdown">
                    <img src="/assets/images/myprofile.png">
                    <p>My Profile</p>
                 </div>
                </a> 
              
              <hr>
              <a (click)="eraseToken()" routerLink="/login"> 
                  <div class="content-dropdown">
                <img src="/assets/images/logout.png">
                <p>Logout</p>
             </div>
            </a> 
            </div>
          </div>
        </div> 
         <ng-template #buttonX>
            <a style="min-width: 146px;color: white;"(click)="removeAllToggle()"><img style="width: 15%;" src="/assets/images/close.png"></a>
        </ng-template>  
    </div>
    <div *ngIf="searchContentStatus===400" class="search-result">
        <p>No match course</p>
        <p>Try a different search or browser categories</p>
    </div> 
     <!-- <ng-template #e> -->
       <div class="search-result-main" *ngIf="searchContentStatus===200&&searchButtonStatus===true;">
        <div  class="search-result-content" *ngFor="let user of searchContent.data; index as i">
            <img src={{user.courseImg}}  alt="Not Found"  onerror="this.onerror=null; this.src='https://zeptosystems.com/wp-content/uploads/2018/10/java-1.jpg'" >
            <div class="search-result-inner-content">
                <p>{{user.courseName|titlecase}}</p>
                <p style="font-size:14px;font-weight:100;color: #FFFFFF;opacity:0.3;margin-bottom: 8px;">{{user.totalChapters}} chapter</p> 
                <p class="p-category">{{user.category|titlecase}}</p>
            </div>
            <hr>
            
        </div>
        <hr>
       </div>
       
    <!-- </ng-template> -->
        <div *ngIf="toggle&&searchContentStatus!==200" class="click-searchbar ">
            <div class="div">
                
                <div class="categorie">
                    <p>Search for categories</p>
                    <button (click)="categories('Design')"><img src="/assets/images/10.png">Design</button>
                    <button (click)="categories('Development')"><img src="/assets/images/3.png">Development</button>
                    <button (click)="categories('Business')"><img src="/assets/images/4.png">Business</button>
                    <button (click)="categories('Finance')"><img src="/assets/images/1.png">Finance</button>
                    <button (click)="categories('Health & Fitness')"><img src="/assets/images/0.png">Health & Fitness</button>
                    <button (click)="categories('Music')"><img src="/assets/images/2.png">Music</button>
                    <button (click)="categories('IT & Software')"><img src="/assets/images/7.png">IT & Software</button>
                    <button (click)="categories('Markeeting')"><img src="/assets/images/6.png">Markeeting</button>
                    <button (click)="categories('Lifestyle')"><img src="/assets/images/5.png">Lifestyle</button>
                    <button (click)="categories('Photography')"><img src="/assets/images/9.png">Photography</button>
                    <button (click)="categories('Teaching')"><img src="/assets/images/8.png">Teaching</button>
                    
                </div>
            </div>
            
            
        </div>
    
  
</div>


