/* You can add global styles to this file, and also import other style files */
html,body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    text-align: center;
}

// *{
//     font-family: 'biko',sans-serif!important;
// }

@font-face {
    font-family: 'biko-regular';
    src: url('assets/fonts/biko/Biko_Regular.otf');
}

@font-face {
    font-family: 'proxima-nova-soft';
    src: url('assets/fonts/Proxima-Nova-Font/proxima_ssv/Proxima\ Nova\ Alt\ Light.otf');
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-dialog-container {
    padding: 0px !important;
    border-radius: 0px!important;
}
.switch.switch-small {
height:22px;
}





