<!-- <button (click)="closeDialog()"></button> -->

<!-- <app-login-success *ngIf="successLoginTemplateTime!==10"></app-login-success> -->
<!-- [ngClass]="{checkk:successLoginTemplateTime!==10}" -->
<div class="home-body" >
    <h4>Hello!</h4>
    <h3>{{fullName}}</h3>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
              <div class="div">
                
                  <div class="dibb"[routerLink]="['/courseDetails', homeContent.allCourses[0]._id,homeContent.allCourses[0].courseName]" >
                    <div class="image-top-shade"></div>
                    <div class="image-bottom-shade"></div>
                    <img  src={{homeContent.allCourses[0].courseImg}} alt="First slide"style="cursor: pointer;">
                    <p style="font-size: 18px;font-weight: 400;">{{homeContent.allCourses[0].courseName}}</p>
                  
                  </div>
                  <div class="dibb" [routerLink]="['/courseDetails', homeContent.allCourses[1]._id,homeContent.allCourses[1].courseName]">
                    <div class="image-top-shade"></div>
                    <div class="image-bottom-shade"></div>
                    <img  src={{homeContent.allCourses[1].courseImg}} alt="First slide"style="cursor: pointer;">
                    <p style="font-size: 18px;font-weight: 400;">{{homeContent.allCourses[1].courseName}}</p>
                   
                  </div>
                  <div class="dibb"[routerLink]="['/courseDetails', homeContent.allCourses[2]._id,homeContent.allCourses[2].courseName]">
                    <div class="image-top-shade"></div>
                    <div class="image-bottom-shade"></div>
                    <img  src={{homeContent.allCourses[2].courseImg}} alt="First slide"style="cursor: pointer;">
                    <p style="font-size: 18px;font-weight: 400;">{{homeContent.allCourses[2].courseName}}</p>
                    
                  </div>
              </div>
              
          </div>
          <div class="carousel-item">
            <div class="div">
                <div class="dibb"[routerLink]="['/courseDetails', homeContent.allCourses[3]._id,homeContent.allCourses[3].courseName]">
                  <div class="image-top-shade"></div>
                  <div class="image-bottom-shade"></div>
                    <img  src={{homeContent.allCourses[3].courseImg}} alt="Second slide"style="cursor: pointer;">
                    <p style="font-size: 18px;font-weight: 400;">{{homeContent.allCourses[3].courseName}}</p>
                    
                  </div>
                  <div class="dibb"[routerLink]="['/courseDetails', homeContent.allCourses[4]._id,homeContent.allCourses[4].courseName]">
                    <div class="image-top-shade"></div>
                    <div class="image-bottom-shade"></div>
                    <img  src="https://cdn-images-1.medium.com/max/2000/1*SSutxOFoBUaUmgeNWAPeBA.jpeg" alt="Second slide">
                    <p style="font-size: 18px;font-weight: 400;">{{homeContent.allCourses[4].courseName}}</p>
                  
                  </div>
                  <div class="dibb">
                    <div class="image-top-shade"></div>
                    <div class="image-bottom-shade"></div>
                    <img src="https://www.androidauthority.com/wp-content/uploads/2016/09/react-native-logo.jpg">
                    <p style="font-size: 18px;font-weight: 400;">React Native</p>
                   
                  </div>

            </div>
            
          </div>
          <div class="carousel-item">
            <div class="div">
                <div class="dibb">
                  <div class="image-top-shade"></div>
                  <div class="image-bottom-shade"></div>
                    <img  src="https://cdn-images-1.medium.com/max/2000/1*SSutxOFoBUaUmgeNWAPeBA.jpeg" alt="Third slide">
                    <p style="font-size: 18px;font-weight: 400;">Python course</p>
                    
                  </div>
                  <div class="dibb">
                    <div class="image-top-shade"></div>
                    <div class="image-bottom-shade"></div>
                    <img  src="https://1001tricks.com/wp-content/uploads/2011/05/css3-scaled.jpg" alt="Third slide">
                    <p style="font-size: 18px;font-weight: 400;">CSS course</p>
                    
                  </div>
                  <div class="dibb">
                    <div class="image-top-shade"></div>
                    <div class="image-bottom-shade"></div>
                    <img  src="https://pantheon.io/sites/default/files/field/image/TypeScriptImage.jpeg" alt="Third slide">
                    <p style="font-size: 18px;font-weight: 400;">Typescript course</p>
                   
                  </div>
           
            </div>
           
          </div>
          <div class="carousel-item">
            <div class="div">
                <div class="dibb">
                  <div class="image-top-shade"></div>
                  <div class="image-bottom-shade"></div>
                    <img  src="https://zeptosystems.com/wp-content/uploads/2018/10/java-1.jpg">
                    <p style="font-size: 18px;font-weight: 400;">JAVA course</p>
                  </div>
                  <div class="dibb">
                    <div class="image-top-shade"></div>
                    <div class="image-bottom-shade"></div>
                    <img  src="https://1001tricks.com/wp-content/uploads/2011/05/css3-scaled.jpg" alt="Third slide">
                    <p style="font-size: 18px;font-weight: 400;">CSS course</p>
                  </div>
                  <div class="dibb">
                    <div class="image-bottom-shade"></div>
                    <div class="image-top-shade"></div>
                    <img  src="https://pantheon.io/sites/default/files/field/image/TypeScriptImage.jpeg" alt="Third slide">
                    <p style="font-size: 18px;font-weight: 400;">Typescript course</p>
                  </div>
           
            </div>
           
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
      </div>
      
<!-- <div class="heading">
<p id="left-text">Ongoing course</p>
<p id="right-text">See all</p>
</div> -->
<div class="heading">
<div class="leftDiv">
Ongoing course
</div>
<div class="rightDiv">
  <a routerLink="/myCourse">See All</a>

</div>
<div style="clear: both;"></div>
</div>
     
     <div class="ongoing-course" >
        <div class="dibb" *ngFor="let data of homeContent.ongoingCourses.slice(0,3);let i=index " >
          <div class="image-top-shade"></div>
          <div class="image-bottom-shade"></div>
            <img  src={{data.courseImg}}  style="cursor: pointer;" alt="Not Found"  onerror="this.onerror=null; this.src='https://zeptosystems.com/wp-content/uploads/2018/10/java-1.jpg'">
            <div class="ongoing-inner">
              <div>
                <p style="font-size: 18px;font-weight: 400;">{{data.courseName}}</p>
                <p>15/20 Chapters</p>
              </div>
             
              <button>Continue</button>
              <!-- <div class="ongoing-inner-block">
                
                <p>{{data.totalChapters}}</p>
              </div> -->
                <!-- <p>{{data.category}}</p> -->
            </div>
            
            
          </div>
          
     </div>

     <div class="categorie">
        <div class="heading">
            <div class="leftDiv">
                Search for categories
            </div>
            <div class="rightDiv">
                <a routerLink="/categories">See All</a>
            </div>
            <div style="clear: both;"></div>
        </div>
       
        <button (click)="categories('Design')"><a [routerLink]="['/category-detail', 'Design']"><img src="/assets/images/10.png" >Design</a></button>
        <button (click)="categories('Development')"><img src="/assets/images/3.png"[routerLink]="['/category-detail', 'Development']">Development</button>
        <button (click)="categories('Business')"><img src="/assets/images/4.png"[routerLink]="['/category-detail', 'Business']">Business</button>
        <button (click)="categories('Finance')"><img src="/assets/images/1.png"[routerLink]="['/category-detail', 'Finance']">Finance</button>
        <button (click)="categories('Health & Fitness')"><img src="/assets/images/0.png"[routerLink]="['/category-detail', 'Health & Fitness']">Health & Fitness</button>
        <button (click)="categories('Music')"><img src="/assets/images/2.png"[routerLink]="['/category-detail', 'Music']">Music</button>
        <button (click)="categories('IT & Software')"><img src="/assets/images/7.png"[routerLink]="['/category-detail', 'IT & Software']">IT & Software</button>
        <button (click)="categories('Markeeting')"><img src="/assets/images/6.png"[routerLink]="['/category-detail', 'Marketing']">Marketing</button>
        <button (click)="categories('Lifestyle')"><img src="/assets/images/5.png"[routerLink]="['/category-detail', 'Lifestyle']">Lifestyle</button>
        <button (click)="categories('Photography')"><img src="/assets/images/9.png"[routerLink]="['/category-detail', 'Photography']">Photography</button>
        <button (click)="categories('Teaching')"><img src="/assets/images/8.png"[routerLink]="['/category-detail', 'Teaching']">Teaching</button>
        
    </div>
      
    <div class="heading">
        <div class="leftDiv">
            Choose your course
        </div>
        <div class="rightDiv">
            See All
        </div>
        <div style="clear: both;"></div>
    </div>
<div class="choice-container">

<button (click)="routeButtonClick('all')"[ngStyle]="{backgroundColor:getbackCss('all')}">All</button>
<button (click)="routeButtonClick('popular')" [ngStyle]="{backgroundColor:getbackCss('popular')}">popular</button>
<button (click)="routeButtonClick('newest')" [ngStyle]="{backgroundColor:getbackCss('newest')}">Newest</button>

</div>
<div class="choice-subcontainer">
<div class="choice-element">
<img *ngIf="routeButton==='all'" src="https://zeptosystems.com/wp-content/uploads/2018/10/java-1.jpg">
<img  *ngIf="routeButton==='popular'"src={{checkData[6].imageurl}}>
<img *ngIf="routeButton==='newest'" src={{checkData[0].imageurl}}>
<button>Design</button>
<p id="choice-title">Learn Figma- UI/UX Design Essential training</p>
<p id="choice-chapter">7 Chapter</p>

</div>
<div class="choice-element">
  <img *ngIf="routeButton==='all'" src={{checkData[1].imageurl}}>
  <img  *ngIf="routeButton==='popular'"src={{checkData[3].imageurl}}>
  <img *ngIf="routeButton==='newest'" src={{checkData[1].imageurl}}>
<button>Design</button>
<p id="choice-title">Learn Figma- UI/UX Design Essential training</p>
<p id="choice-chapter">7 Chapter</p>

</div>
<div class="choice-element">
  <img *ngIf="routeButton==='all'" src={{checkData[4].imageurl}}>
  <img  *ngIf="routeButton==='popular'"src={{checkData[0].imageurl}}>
  <img *ngIf="routeButton==='newest'" src={{checkData[2].imageurl}}>
  <button>Design</button>
<p id="choice-title">Learn Figma- UI/UX Design Essential training</p>
<p id="choice-chapter">7 Chapter</p>

</div>
<div class="choice-element">
  <img *ngIf="routeButton==='all'" src={{checkData[0].imageurl}}>
  <img  *ngIf="routeButton==='popular'"src={{checkData[5].imageurl}}>
  <img *ngIf="routeButton==='newest'" src={{checkData[3].imageurl}}>
  <button>Design</button>
<p id="choice-title">Learn Figma- UI/UX Design Essential training</p>
<p id="choice-chapter">7 Chapter</p>

</div>
</div>




<div class="heading">
<div class="leftDiv">
Top course in Business
</div>
<div class="rightDiv">
See All
</div>
<div style="clear: both;"></div>
</div>

<div class="choice-subcontainer">
<div class="choice-element">
<img  src={{checkData[6].imageurl}}>
<button>Design</button>
<p id="choice-title">Learn Figma- UI/UX Design Essential training</p>
<p id="choice-chapter">7 Chapter</p>

</div>
<div class="choice-element">
<img  src={{checkData[5].imageurl}}>
<button>Design</button>
<p id="choice-title">Learn Figma- UI/UX Design Essential training</p>
<p id="choice-chapter">7 Chapter</p>

</div>
<div class="choice-element">
<img  src={{checkData[4].imageurl}}>
<button>Design</button>
<p id="choice-title">Learn Figma- UI/UX Design Essential training</p>
<p id="choice-chapter">7 Chapter</p>

</div>
<div class="choice-element">
<img  src={{checkData[3].imageurl}}>
<button>Design</button>
<p id="choice-title">Learn Figma- UI/UX Design Essential training</p>
<p id="choice-chapter">7 Chapter</p>

</div>
</div>


<div class="heading">
<div class="leftDiv">
Top course in Design
</div>
<div class="rightDiv">
See All
</div>
<div style="clear: both;"></div>
</div>
<div class="choice-subcontainer">
<div class="choice-element">
<img  src={{checkData[2].imageurl}}>
<button>Design</button>
<p id="choice-title">Learn Figma- UI/UX Design Essential training</p>
<p id="choice-chapter">7 Chapter</p>

</div>
<div class="choice-element">
<img  src={{checkData[1].imageurl}}>
<button>Design</button>
<p id="choice-title">Learn Figma- UI/UX Design Essential training</p>
<p id="choice-chapter">7 Chapter</p>

</div>
<div class="choice-element">
<img  src={{checkData[0].imageurl}}>
<button>Design</button>
<p id="choice-title">Learn Figma- UI/UX Design Essential training</p>
<p id="choice-chapter">7 Chapter</p>

</div>
<div class="choice-element">
<img  src="https://zeptosystems.com/wp-content/uploads/2018/10/java-1.jpg">
<button>Design</button>
<p id="choice-title">Learn Figma- UI/UX Design Essential training</p>
<p id="choice-chapter">7 Chapter</p>

</div>
</div>


</div>

