// .image-top-shade {
  
//     position: absolute;
    
//       height: 66px;
//       background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #000000 100%);
//       opacity: 0.69;
//       width: 89.2%;
      
//      }
.checkk{
    display: none;
}
.image-top-shade {
    position: absolute;
top: 0;
height: 66px;
background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.39) 100%);
width: 100%;
      border-top-left-radius: 6px;
      border-top-right-radius:6px ;
}
     .image-bottom-shade {
      position: absolute;
      bottom: 0;
      height: 66px;
     

      background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.39) 100%);
    //   opacity: 0.39;
      width: 100%;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius:6px ;
    }



.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height:10%;
    background-color: rgba(9, 41, 99, 1);
   
    img{
        width: 150px;
        object-fit: contain;

    }
    .input-searchbutton{
        display: flex;
        width:400px;
        position: relative;
          

        input{
          width: 100%;
            height: 44px;
            border-radius: 57px;
            background-color:#123779;
            padding-left: 45px;
            padding-top: 2px;
            border: none;
            color: white;
            font-size: 20px;
    
            
    
        }
        input::placeholder{
            color:white;
            opacity: 0.7;
            font-size: 16px;
            
        }

        .search-button{
            position: absolute;
            top:24%;
            left:9px;
            background-color: transparent;
            border: none;
            i{
               font-size: 20px;
               color: white;
               -webkit-text-stroke: 1px #123779;
               
            }
        }

      
    

    }
    .filter-button{
        background-color: transparent;
        border: none;
        img{
            width: 58px;
        }
        
    }

    a{
       cursor: pointer;
       width: 50px;
       
        

        img{
            object-fit: cover;
            width: 100%;
        }
    }

    
    .right-header-content{
        display: flex;
        justify-content: space-around;
        width: 140px;
        
        button{
            background-color: transparent;
            border: none;
            
            i.fa-bell{
                font-size: 22px;
                color: white;
                -webkit-text-stroke: 0px #123779;  
            }

          
            img{
                width: 25px;
                margin-top: -6px;
            }
        }
        .profil-details{
            // width: 34px;
            // height: 32px;
            // border-radius: 50% ;
            // background-color: #123779;
            
            a{
                text-decoration: none;
            }

            img{
                width: 34px;
                height: 32px;
                border-radius: 50% ;
            }

            
        }
    }

   

   

}
.search-result{
    background-color: rgba(9, 41, 99, 1);
    p{
        color:white;
        margin: 0;
    }
}



 .click-searchbar{
    background-color: rgba(9, 41, 99, 1);


        p{
             color: white;
             font-size: 20px;
             font-weight: 700;
             margin-bottom: 20px;
         }
         img{
            margin-right:5px;
        }
        .categorie{
            .clicked{
                background-color: rgba(252, 190, 75, 1);
            }
            text-align: start;
            // display: grid;
            // grid-template-columns: auto auto auto auto auto;
            // grid-column-gap: 10px;
            // grid-row-gap: 10px;
            margin-left: auto;
            margin-right: auto;
            max-width: 659px;
            padding: 10px;
           
            button{
                display: inline;
                // display: flex;
                // justify-content: center;
                margin-right:10px;
                margin-bottom:10px;
                background-color: white;
                border: 1px solid rgba(228, 228, 228, 1);
                border-radius: 4px;
                font-size: 13px;
        font-weight: 700;
            }
            button:hover{
                background-color: rgba(252, 190, 75, 1);
            }
            
        }
    }

    .dropdown-menu{
        display: block;
        float: none;
        min-width: 8rem;
        padding: 10px;
        a{
            text-decoration: none;
            color: black;
        }
    }

    .home-body{
        margin-left: auto;
        margin-right: auto;
     
        width: 80%;
        text-align: start;
        h4{
           
            margin: 0;
            margin-top: 15px;
            color: rgba(122, 122, 122, 1);
        }

        h3{
            font-weight: 700;
            color: #092963;
            font-size: 20px;
        }
        .heading{
          
            margin-top: 20px;
            margin-bottom: 10px;
        
            width: 100%
           
            
        }
        .leftDiv {
            font-weight: 500;
            color: #000000;
            font-size: 16px;
            
            float: left;
        }
        .rightDiv {
            float: right;
            font-size: 14px;
            color: #7A7A7A;
            a{
                color: #7A7A7A;
                text-decoration: none;
            }
        }
        .carousel-control-prev {
            /* left: 0; */
            display: none;
        }
        .carousel-control-next {
         display: none;
        } 
        
.carousel-inner{
    
    
    .carousel-item {

        .div{
            display: flex;
        justify-content: space-between;
        position: relative;
        width: 100%;
        height:192px;
        }

        .dibb{
            width: 32%;
            position: relative;
            p{
                position: absolute;
                bottom: 0px;
                left: 10px;
                color: white;
            }
        }
      
        
        img{
            border-radius: 6px;
            width: 100%;
            height: 100%;
            // border: 1px solid black;
            object-fit: cover;
            
           
            
        }
    }
    

 

}
.ongoing-course{
    display: flex;
justify-content: start;
column-gap:2%;
position: relative;
width: 100%;
height: 192px;
}

.dibb{
    width: 32%;
    position: relative;
    
    // .ongoing-inner{
    //     position: absolute;
    //     display: flex;
    //     justify-content: space-between;
    //     bottom: 10px;
    //     left: 10px;
    //     p{
    //         color: white;
    //     }
    //   .ongoing-inner-block{
    //       display: block;
    //       p{
    //         color: white;
    //     }
    //   }  
        
    // }
    .ongoing-inner{
        padding: 12px;
    position: absolute;
    display: flex;
    bottom: -4px;
    left: 0px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
        p{
            color: white;
            margin-top: 0.2rem;
            margin: 0;
            margin-bottom: 4px;
        }
        button{
            background: #EC5D52;
            border-radius: 4px;
            color: white;
            height: fit-content;
            padding: 4px 12px;
            border: none;
        }
      .ongoing-inner-block{
          display: block;
          p{
            color: white;
        }
      }  
        
    }
    img{
        border-radius: 6px;
        width: 100%;
        height: 100%;
        // border: 1px solid black;
        object-fit: cover;
        
       
        
    }
}






.categorie{
    .clicked{
        background-color: rgba(252, 190, 75, 1);
    }
    text-align: start;
   
   
    p{
        margin-bottom: 10px;
    }
   
    button{
        display: inline;
        // display: flex;
        // justify-content: center;
        margin-right:10px;
        margin-bottom:10px;
        background-color: white;
        border: 1px solid rgba(228, 228, 228, 1);
        border-radius: 4px;
        font-size: 13px;
font-weight: 700;
a{
    text-decoration: none;
    color: black;
}
    }
    button:hover{
        background-color: rgba(252, 190, 75, 1);
    }
    img{
        object-fit: cover;
        width: 22px;
        a{
            text-decoration: none;
        }
    }
    
}
.carousel-item {
    transition: transform 0.3s ease-in-out;
  }
  

#carouselExampleIndicators .carousel-indicators li{
    bottom: -32px; 
    border-radius: 100%;
    width: 0.4rem;
    height: 0.4rem;
  
    border-radius: 50%;
    border: 0;
    background: transparent;
    background-color: rgba(238, 92, 77, 0.3);
    margin-right: 0px;
    
  }
  #carouselExampleIndicators .carousel-indicators li.active
  {
    background-color: rgba(238, 92, 77, 1);
  
  }
  

  .choice-container{
      
    margin-bottom:10px;
    p{
        font-weight: 500;
        color: #000000;
        font-size: 16px;
    }
    button{
        margin-right:10px;
        border:none;
        background-color: transparent;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        

    }

    button:hover{
        background-color: #DFE7F4;
    }
  }

  .choice-subcontainer{
      width: 100%;
      height: 250px;
      display: flex;
      justify-content: space-between;
      

    .choice-element{
     width: 24%;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: 20px;
    border-radius: 6px;
    
    
     img{
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
              width: 100%;
             height: 60%;
            //   border: 1px solid black;
             object-fit: cover;
              

      }
      button{
          position: absolute;
          bottom:42%;
          right:4px;
          border: none;
          border-radius: 4px;
          color:black;
          background-color:#FCBE4B ;
      }

      #choice-title{
          color:black;
          font-size: 16px;
          padding-left: 10px;
          margin-top: 10px;
      }

      #choice-chapter{
          color:#7A7A7A;
          font-size: 14px;
          padding-left: 10px;
      }

    }
  }
 


        
}

    // .home-content{
    //     width: 80%;
    //     background-color: aliceblue;
    // }
    

    

     

   

// .click-searchbar{
   
    
//     p{
//         text-align: center;
//          color: white;
//          font-size: 20px;
//      }

//     .categorie{
       
//         display: grid;
//         grid-template-columns: auto auto auto auto ;
//         grid-column-gap: 10px;
//         grid-row-gap: 10px;
//         margin-left: auto;
//         margin-right: auto;
//         width: 600px;
//         padding: 10px;
       
//         button{
//             display: flex;
//             justify-content: center;
//             background-color: white;
//             border: none;
//             border-radius: 4px;
//         }
//     }

// }